{% extends 'base.html' %}
{% block content %}
<h5>Works log</h5>
{% for job in jobs %}
<table class="table">
    <h6>Action # {{ job.id }}</h6>
    <thead>
    <tr class="table-secondary">
        <th scope="col">Title of activity</th>
        <th scope="col">Team leader</th>
        <th scope="col">Duration</th>
        <th scope="col">List of collaborators</th>
        <th scope="col">Is finished</th>
    </tr>
    </thead>
    <tr class="table-primary">
        <td>{{ job.job }}</td>
        <td>{{ job.user.name }} {{ job.user.surname }}</td>
        <td>{{ job.work_size }} hour</td>
        <td>{{ job.collaborators }}</td>
        <td>{% if job.is_finished %} Is finished {% else %} Not is finished {% endif %}</td>
    </tr>
</table>
{% endfor %}
{% endblock %}